#container {
  background-color: blue;
}

.title {
  color: blueviolet;
}
body{
  background-image:url(https://images.pexels.com/photos/34153/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500)
}
h1{
  text-align:center;
  color:white;
}
.pitchform{
  background-color:gray;
  width:80%;
  padding: 10%;
  margin-top:15%;
} 
table{
  background-color:gray;
  color:black;
}
#prof{
  color:white;
}
.well{
  width:80%;
  color:black;
  
}
#quote{
  color:black;
}
#post{
  background-color:rgb(98, 119, 129);
}